---
layout : layouts/base.njk

---

		<!-- Header -->
		<section id="header">
			<div class="inner">
				<span class="icon solid major fa-cloud"></span>
				<h1>
					<a href="{{ data.product }}">{{ data.app_title }}</a>
				</h1>
				<p>
					Site de prezentare dezvoltat de <strong>WebsiteMarket</strong>
					<br />
					<a href="/site.zip">Download</a> &nbsp; &bull; &nbsp; <a href="https://websitemarket.ro/site-gratuit/">Site-uri Gratuite</a> 			
				</p>
				<ul class="actions special">
					<li><a href="#one" class="button scrolly">Mai Mult</a></li>
				</ul>
			</div>
		</section>

		<!-- One -->
		<section id="one" class="main style1">
			<div class="container">
				<div class="row gtr-150">
					<div class="col-6 col-12-medium">
						<header class="major">
							<h2>
							Firma ta merita un site
							</h2>
						</header>
						<p>
							Coboara site-ul editeaza textele, pozele si urca fisierele pe un server.
							<br />
							Nu ai hosting? Acceseaza oferta <a href="{{ data.service }}">WebsiteMarket</a>						
						</p>
					</div>
					<div class="col-6 col-12-medium imp-medium">
						<span class="image fit"><img src="/images/pic01.jpg" alt="" /></span>
					</div>
				</div>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="main style2">
			<div class="container">
				<div class="row gtr-150">
					<div class="col-6 col-12-medium">
						<ul class="major-icons">
							<li><span class="icon solid style1 major fa-code"></span></li>
							<li><span class="icon solid style2 major fa-bolt"></span></li>
							<li><span class="icon solid style3 major fa-camera-retro"></span></li>
							<li><span class="icon solid style4 major fa-cog"></span></li>
							<li><span class="icon solid style5 major fa-desktop"></span></li>
							<li><span class="icon solid style6 major fa-calendar"></span></li>
						</ul>
					</div>
					<div class="col-6 col-12-medium">
						<header class="major">
							<h2>
								Despre Noi
							</h2>
						</header>
						<p>
							<h3>Servicii</h3>
							<p>
								Adauga in aceast sectiune o lista scurta cu serviciile pe care le oferi. 
                            	Nu recomandam mult text, clientii te vor suna daca sunt interesati. 
							</p>

							<h3>Portofoliu</h3>
							<p>
								Prezinta cateva proiecte recente prin informatii simple si verificabile.
								Increderea este foarte importanta in bussiness, ca si in general in viata.
								<br />
								Un portofoliu verificabil, iti va aduce viitorii clientii un pic mai aproape.							
							</p>

							<h3>Echipa ta</h3>
							<p>
								Transparenta, alta componenta importanta in orice business, se poate construi prin a spune ceva despre echipa ta.
                            	Ai in echipa persoane care au o pregatire recunoscuta? Le poti aminti in aceasta sectiune.
							</p>

						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="main style1 special">
			<div class="container">
				<header class="major">
					<h2>
						Blog
					</h2>
				</header>
				<p>
					Aici poti adauga ultimele articole publicate pe blogul tau.
				</p>
				<div class="row gtr-150">
					<div class="col-4 col-12-medium">
						<span class="image fit"><img src="/images/pic02.jpg" alt="" /></span>
						<h3>
							Despre WebsiteMarket
						</h3>
						<p>
							WebsiteMarket este o platforma care isi propune sa ajute companiile la inceput de drum sa devina vizibile in mediul online.
						</p>
						<ul class="actions special">
							<li>
								<a href="{{ data.service }}" class="button">
									Citeste
								</a>
							</li>
						</ul>
					</div>
					<div class="col-4 col-12-medium">
						<span class="image fit"><img src="/images/pic03.jpg" alt="" /></span>
						<h3>
							Site-uri Gratuite
						</h3>
						<p>
							WebsiteMarket a dezvoltat mai multe site-uri gratuite pentru companiile din Romania. 
							Pentru a le folosi, nu ai nevoie de un cont.
						</p>
						<ul class="actions special">
							<li>
								<a href="https://websitemarket.ro/site-gratuit/" class="button">
									Vezi Site-uri
								</a>
							</li>
						</ul>
					</div>
					<div class="col-4 col-12-medium">
						<span class="image fit"><img src="/images/pic04.jpg" alt="" /></span>
						<h3>
							Produse Open-Source
						</h3>
						<p>
							WebsiteMarket este prima si singura agentie web din Romania care isi ofera produsele in regim open-source.
						</p>
						<ul class="actions special">
							<li>
								<a href="{{ data.github_group }}" class="button">
									Vezi Surse
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!-- Four -->
		<section id="four" class="main style2 special">
			<div class="container">
				<header class="major">
					<h2>
						Contact
					</h2>
				</header>
				<p>
					Adauga in aceasta sectiune datele de contact.	
				</p>
				<ul class="actions special">
					<li>
						<a href="/site.zip" class="button wide">Download Site</a>
					</li>
				</ul>
			</div>
		</section>
